ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
.active {
  background-color: #0D9A33;
}
ul {
  position: fixed;
  top: 0;
  width: 100%;
}
.grid{
  display: grid;
  gap: 10px;
}
.title{
  margin-top: 60px;
  background-color: #FFC400;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  border-radius: 20px;
  text-align: center;

}
.main{
  padding: 100px;
  background-color: #26869F;
  border-radius: 20px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  color: white;
}
.link1{
  background-color:#26869F;
  padding: 20px;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  border-radius: 20px;
  text-align: center;
  font-size: x-large;
  
}
.link2{
  background-color: #26869F;
  padding: 20px;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  border-radius: 20px;
  text-align: center;
  font-size: x-large;
}
.footer{
  background-color: #000000;
  padding: 10px;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
  border-radius: 20px;
  color: white;
  font-size: x-small;
  margin-top: 10px;
}
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.aboutmain{
  background-color:#26869F;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 5;
  border-radius: 20px;
  color: white;
}
.aboutimage{
  background-color: #26869F;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 5;
  border-radius: 20px;
}

a{
  color: white;
}
p{
  font-size: x-large;
}
img{
  width:100%;
  border-radius: 20px;
}
.aboutmain p{
  font-size: x-large;
}
